.vscode
dist
node_modules
**/node_modules
.env
.nx
build
**/build
**/.idea
CMakeFiles
tmp
.cache
.pnpm-store
cmake-*
**/cmake-build-*
/fixtures/
.git
tests
scram-node/build
scram-node/node_modules

coverage
*.log
.DS_Store
benchmarks
coder
scripts
.nx
