networks:
  svc_net:
    driver: overlay
    attachable: true
  rmq_net:
    driver: overlay
    attachable: true
  traefik-public:
    external: true

configs:
  rabbitmq_plugins:
    file: configs/rabbitmq/enabled_plugins
  rabbitmq_conf:
    file: configs/rabbitmq/rabbitmq.conf
  nestjs_env_vars:
    file: configs/cd.stack.env

x-base-shared-vols: &volumes-timezone
  volumes:
    - "/etc/localtime:/etc/localtime:ro"
    - "/etc/timezone:/etc/timezone:ro"

x-base-shared-confs: &shared-nestjs_conf
    configs:
      - source: nestjs_env_vars
        target: /data/project/.env
    <<: *volumes-timezone

x-base-replicated: &shared-replicated
  mode: replicated
  update_config:
    parallelism: 16
    delay: 1s
    failure_action: rollback
    order: start-first
    monitor: 120s
  rollback_config:
    parallelism: 16
    delay: 1s
    failure_action: continue
    order: start-first
    monitor: 120s

x-base-healthcheck: &healthcheck-fragments
  interval: 10s
  timeout: 2s
  retries: 5
  start_period: 300s
  start_interval: 2s

secrets:
  CI_JWT_SECRET:
    file: secrets/DSF_JWT_SECRET
  CLOUDFLARE_TUNNEL_TOKEN:
    file: secrets/CLOUDFLARE_TUNNEL_TOKEN

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    command:
      - tunnel
      - --no-autoupdate
      - run
      - --token-file
      - /run/secrets/CLOUDFLARE_TUNNEL_TOKEN
    secrets:
      - CLOUDFLARE_TUNNEL_TOKEN
    networks:
      - traefik-public
      - rmq_net
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3

  raptor-manager:
    image: ${IMAGE_BACKEND}
    <<: *shared-nestjs_conf
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/q/job-types"]
      <<: *healthcheck-fragments
    command: "npm run start:prod:manager"
    environment:
      NODE_ENV: ${CI_BUILD_TYPE}
      DEBUG: ${CI_DEBUG}
    networks:
      - traefik-public
      - rmq_net
    deploy:
      <<: *shared-replicated
      replicas: ${NUM_BROKERS}
      placement:
        max_replicas_per_node: 1
        constraints:
          - "${DEPLOYMENT_BROKER_POOL}"
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.routers.${APP_NAME}-raptor-manager-http.rule=Host(`${HOST_URL?Variable not set}`) && PathPrefix(`/q`)
        - traefik.http.routers.${APP_NAME}-raptor-manager-http.entrypoints=http
        - traefik.http.routers.${APP_NAME}-raptor-manager-http.middlewares=https-redirect,gzip
        - traefik.http.routers.${APP_NAME}-raptor-manager-http.service=${APP_NAME}-raptor-manager
        - traefik.http.routers.${APP_NAME}-raptor-manager-https.rule=Host(`${HOST_URL?Variable not set}`) && PathPrefix(`/q`)
        - traefik.http.routers.${APP_NAME}-raptor-manager-https.entrypoints=https
        - traefik.http.routers.${APP_NAME}-raptor-manager-https.tls=true
        - traefik.http.routers.${APP_NAME}-raptor-manager-https.tls.certresolver=le
        - traefik.http.routers.${APP_NAME}-raptor-manager-https.middlewares=gzip
        - traefik.http.routers.${APP_NAME}-raptor-manager-https.service=${APP_NAME}-raptor-manager
        - traefik.http.services.${APP_NAME}-raptor-manager.loadbalancer.server.port=3000

  raptor-engine:
    image: ${IMAGE_BACKEND}
    <<: *shared-nestjs_conf
    command: "npm run start:prod:engine"
    environment:
      NODE_ENV: ${CI_BUILD_TYPE}
      DEBUG: ${CI_DEBUG}
    networks:
      - rmq_net
    deploy:
      mode: replicated
      replicas: ${NUM_WORKERS}
      <<: *shared-replicated
      placement:
        max_replicas_per_node: 128
        constraints:
          - "${DEPLOYMENT_WORKER_POOL}"

  rabbitmq:
    image: rabbitmq:management-alpine
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
    networks:
      - traefik-public
      - rmq_net
    configs:
      - source: rabbitmq_plugins
        target: /etc/rabbitmq/enabled_plugins
      - source: rabbitmq_conf
        target: /etc/rabbitmq/rabbitmq.conf
    deploy:
      placement:
        constraints:
          - node.labels.high_performance == true
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.routers.${APP_NAME}-rmq-http.rule=Host(`rmq-${HOST_URL?Variable not set}`)
        - traefik.http.routers.${APP_NAME}-rmq-http.entrypoints=http
        - traefik.http.routers.${APP_NAME}-rmq-http.middlewares=https-redirect,gzip
        - traefik.http.routers.${APP_NAME}-rmq-http.service=${APP_NAME}-rmq
        - traefik.http.routers.${APP_NAME}-rmq-https.rule=Host(`rmq-${HOST_URL?Variable not set}`)
        - traefik.http.routers.${APP_NAME}-rmq-https.entrypoints=https
        - traefik.http.routers.${APP_NAME}-rmq-https.tls=true
        - traefik.http.routers.${APP_NAME}-rmq-https.tls.certresolver=le
        - traefik.http.routers.${APP_NAME}-rmq-https.middlewares=gzip,traefik-forward-auth
        - traefik.http.routers.${APP_NAME}-rmq-https.service=${APP_NAME}-rmq
        - traefik.http.services.${APP_NAME}-rmq.loadbalancer.server.port=15672

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    networks:
      - traefik-public
      - rmq_net
    deploy:
      placement:
        constraints:
          - node.labels.high_performance == true
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.routers.${APP_NAME}-minio-api-http.rule=Host(`minio-api-${HOST_URL?Variable not set}`)
        - traefik.http.routers.${APP_NAME}-minio-api-http.entrypoints=http
        - traefik.http.routers.${APP_NAME}-minio-api-http.middlewares=https-redirect,gzip
        - traefik.http.routers.${APP_NAME}-minio-api-http.service=${APP_NAME}-minio-api
        - traefik.http.routers.${APP_NAME}-minio-api-https.rule=Host(`minio-api-${HOST_URL?Variable not set}`)
        - traefik.http.routers.${APP_NAME}-minio-api-https.entrypoints=https
        - traefik.http.routers.${APP_NAME}-minio-api-https.tls=true
        - traefik.http.routers.${APP_NAME}-minio-api-https.tls.certresolver=le
        - traefik.http.routers.${APP_NAME}-minio-api-https.middlewares=gzip
        - traefik.http.routers.${APP_NAME}-minio-api-https.service=${APP_NAME}-minio-api
        - traefik.http.services.${APP_NAME}-minio-api.loadbalancer.server.port=9000
        - traefik.http.routers.${APP_NAME}-minio-console-http.rule=Host(`minio-${HOST_URL?Variable not set}`)
        - traefik.http.routers.${APP_NAME}-minio-console-http.entrypoints=http
        - traefik.http.routers.${APP_NAME}-minio-console-http.middlewares=https-redirect,gzip
        - traefik.http.routers.${APP_NAME}-minio-console-http.service=${APP_NAME}-minio-console
        - traefik.http.routers.${APP_NAME}-minio-console-https.rule=Host(`minio-${HOST_URL?Variable not set}`)
        - traefik.http.routers.${APP_NAME}-minio-console-https.entrypoints=https
        - traefik.http.routers.${APP_NAME}-minio-console-https.tls=true
        - traefik.http.routers.${APP_NAME}-minio-console-https.tls.certresolver=le
        - traefik.http.routers.${APP_NAME}-minio-console-https.middlewares=gzip
        - traefik.http.routers.${APP_NAME}-minio-console-https.service=${APP_NAME}-minio-console
        - traefik.http.services.${APP_NAME}-minio-console.loadbalancer.server.port=9001
